html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* PROPIAS */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img,
input,
textarea,
select,
button {
	width: 100%;
}

a {
	text-decoration: none;
}

a,span {
	display: block;
}

body {
    position: relative;
    min-height: 100dvh;
    background: linear-gradient(180deg, rgba(227,167,255,.5) -0%, rgba(228,240,255,1) 100%);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    overflow-x: hidden;
}
body::before {
    content: '';
    position: absolute;
    top:-2em;
    left: 0;
    width: 100%;
    height: calc(100% + 2em);
    background-image: url('fondo.webp?v=24');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(7px);
    opacity: 0.2;
}